
.toptitle{
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    margin: 0 0 50px 0;
    }
    
    .card {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 30px;
    }
    
    .card img {
    height: 500px;
    width: 360px;
    height: auto;
    width: auto;
    transition: transform 0.3s ease-in-out;
    }
    
    .card:hover img {
    transform: scale(1.1);
    }
    
    .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in-out;
    }
    
    .card:hover .card-body {
    background: rgba(0, 0, 0, 0.5);
    }
    
    .card-body h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    color: #fff;
    transition: transform 0.6s;
    font-weight: 800;
    font-size: 56px;
    display: flex;
    }
    
    .card:hover .card-body h2 {
    transform: translate(-50%, calc(-100% - 60px)); /* 이미지 호버 시 위로 이동 */
    }
    
    .card-body .info {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: calc(100% - 30px);
    }
    
    .card-body .info p,
    .card-body .info button {
    display: none;
    color: #fff;
    transition: display 0.3s ease-in-out;
    text-align: center;
    }
    
    .card-body .info p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    height: 107px;
    }
    
    .card-body .info button {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    }
    
    .card:hover .card-body .info p,
    .card:hover .card-body .info button {
    display: block;
    }
    
    .card-body .info button {
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    color: black;
    width: 180px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    }
    
    .card-body .info button:hover {
    background-color: #fff;
    }
    
    
    /* Active */
    #department {
    text-align: center;
    }
    
    .toptitle {
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    margin: 0 0 60px 0;
    }
    
    .department-button  {
    /* background-color: rgba(0, 0, 0, 0); */
    background: #3F414A;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 196px;
    height: 62px;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 0.1em;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    }

    .department h3 {
    font-weight: 600;
    font-size: 48px;
    }
    
    .department p {
    color: white;
    padding-top: 90px;
    }

    .department {
    color: white;
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    flex-direction: column;
    }

    .startup, .game, .robot, .web {
        width: 800px;
        height: 490px;
        border-radius: 20px;
        color: white;
        text-align: left;
        background: #3F414A;
        padding: 100px 50px 20px 50px;
    }
    
    /* Footer */
    
    .main-footer {
        width:100%;
        height: 100%;
        width: auto;
        height: auto;
        background-color: #000000;
        position: relative;
        color: white;
        
      }
      
      footer{
        width: 100%;
        height: 250px;
        text-align: center;
        background-color: black;
        position: relative;
        bottom: 0;
      }
      
      footer img{
        width: 40px;
        height: 30px;
      } 
      
      footer a {
        text-decoration:none;
        display: inline-block;
      }
      
      footer p{
        color: white;
        font-weight: 800;
        font-size: 24px;
      }
      
      svg{
        width: 30px;
        height: 30px;
        color: #fff;
        justify-content: space-between;
        margin: 10px 10px 0 10px;
      }
      
      .lastcontent{
        text-align: center;
        margin-bottom: 10px;
      }
      
      .toptitle{
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 48px;
        line-height: 60px;
        margin: 80px 0 70px 0;
        bottom: 0;
      }
      
      .joinusbtn {
        font-weight: 800;
        font-size: 40px;
        text-align: center;
        color: #FFFFFF;
        background: #A147C7;
        border-radius: 10px;
        align-items: center;
      }