* {
  padding: 0;
  margin: 0;
  color : white;
}

html, body {
  height: 100%;
  width: 100%;
}

.pages {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  transition: bottom .7s;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.page:first-child {
bottom: 0;
}

.pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.pagination>li {
  list-style: none;
  height: 20px;
  width: 20px;
  background: #000000;
  border-radius: 50%;
  margin-top: 10px;
  transition: background .7s;
}

.pagination>li.active {
  background: #ffffff;
}


.App {
  text-align: center;
  background-color: #000000;
  overflow-y: auto;
  height: calc(var(--vh, 1vh) * 100);
}
/* 스크롤 바 */
/* .App::-webkit-scrollbar {
  display: none;
} */

.navi{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(0,0,0,0.7); */
}

.navibar{
  color: #FFFFFF;
  font-weight: 800;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  position: fixed;
  z-index: 9999;
  /* background-color: rgb(0,0,0,0.7); */
}

.navibar img{
  width: 40.95px;
  height: 30.2px;
  margin: 10px
}

.nav-item a {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 18px;
  height: 60px;
  margin-right:50px;
  padding-top: 15px;
  text-decoration: none;
}
.nav{
  margin-right: 50px;
  position: fixed;
  top: 0;
  /* background-color: rgb(0,0,0,0.7); */
  right: 0;
}